@model DataLayer.Models.Regular.TblProduct
<!-- This is the modal ModalProduct-->

<div class="uk-modal-dialog uk-modal-body column">
    <section class="modal-product">
        <!-- #region Image -->
        <aside class="image column">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

                <ul class="uk-slideshow-items">
                    @foreach (var j in Model.TblProductImageRel)
                    {
                        <li>
                            <img src="/Resources/Product/Thumb/@j.TblImage.Image" alt="@Model.Name" />
                        </li>
                    }
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                <ul class="uk-thumbnav uk-margin-small-top" uk-margin>
                    @foreach (var j in Model.TblProductImageRel)
                    {
                        <li uk-slideshow-item="0" class="uk-active">
                            <img src="/Resources/Product/Thumb/@j.TblImage.Image" alt="@Model.Name" />
                        </li>
                    }
                </ul>
            </div>
        </aside>
        <!-- #endregion -->
        <!-- #region General -->
        <article class="content column">
            <span class="uk-button uk-margin-auto-left uk-padding-remove"
                  onclick="UIkit.modal(document.getElementById('ModalProduct')).hide();"
                  uk-icon="close">
            </span>

            <h2 class="uk-margin-small-top uk-margin-small-bottom">
              @Model.Name
            </h2>
            <a href="">دسته بندی</a>
            <label>@Model.TblCatagory.Name</label>
            <div class="row uk-margin-small-top" dir="rtl">
                <div class="column uk-margin-auto-left" dir="ltr">
                    @if (Model.Discount > 0)
                    {
                        <h3 class="uk-margin-remove not">
                            @Model.Price.ToString("#,0")
                        </h3>
                        <div class="row" dir="ltr">
                            <span class="uk-margin-small-top">
                                تومان
                            </span>
                            <h2 class="uk-margin-remove">
                                @Math.Floor(Model.Price - (double)((double)(Model.Price * Model.Discount) / 100)).ToString("#,0")
                            </h2>
                        </div>

                    }
                    else
                    {
                        <div class="row" dir="ltr">
                            <span class="uk-margin-small-top">
                                تومان
                            </span>
                            <h2 class="uk-margin-remove">
                                @Model.Price.ToString("#,0")
                            </h2>
                        </div>
                    }

                </div>

                <div class="row star-container uk-margin-auto-top" dir="rtl">
                    <div class="Stars" style="--rating: @((float)Model.Raiting / 20);"
                         uk-tooltip="@((float)Model.Raiting/20)"
                         aria-label="Rating of this product is 2.3 out of 5."></div>
                </div>

            </div>
            <button class="uk-margin-auto-left uk-margin-top" onclick="AddToCart(@Model.id)">
                افزودن به سبد خرید
                <span uk-icon="cart"></span>
            </button>
        </article>
        <!-- #endregion -->
    </section>
    <div class="details">
        <hr class="uk-margin-top" />
        <label>توضیحات</label>
        <p class="uk-margin-remove-bottom uk-text-justify">
            @Model.Description
        </p>
        <details dir="rtl" class="uk-margin-bottom uk-text-justify editorText">
            <summary>بیشتر</summary>
            @Html.Raw(Model.DescriptionHtml)
        </details>

        <label>واژه های کلیدی</label>
        <ul class="uk-flex uk-flex-wrap" dir="rtl">
            @foreach (var item in Model.TblProductKeywordRel)
            {
                <li>
                    <a href="" class="keyword ">
                        @item.TblKeyword.Name
                    </a>
                </li>
            }


        </ul>

       
        <div class="row  uk-margin-top" dir="rtl">
            <button class="uk-margin-small-left" onclick="AddToCart(@Model.id)">
                <span uk-icon="cart"></span>
                افزودن به سبد خرید
            </button>
            <a class="uk-button uk-button-default uk-margin-auto-bottom uk-margin-auto-left uk-margin-right "
               onclick="UIkit.modal(document.getElementById('ModalProduct')).hide();">بازگشت</a>
        </div>
    </div>
</div>

