
@{
    ViewBag.Title = User.Identity.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="~/Styles/Video.min.css" rel="stylesheet" />
<link href="~/Styles/Profile.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

@Html.Action("Info", "Profile")

<!-- #region Upload -->

@Html.Action("UploadVideo", "Profile")
<!-- #endregion -->
<!-- #region Profile -->

<div id="ModalProfile" uk-modal>
    @Html.Action("ViewProfile", "Profile")
</div>

<!-- #endregion -->
<!-- #region Table -->
@Html.Action("VideoTable", "Profile")

<!-- #endregion -->

<div id="ModalUploadEdit" uk-modal>

</div>

<div id="ModalChangePassword">
</div>

<section class="videos uk-margin-medium-top column">
    <h3 class="clipped uk-margin-top uk-margin-small-bottom center">ویدیوهای <span class="simple">شما</span></h3>
    <content class="grid uk-margin-medium-bottom" dir="rtl">
        @Html.Action("VideoBlock", "Profile")
    </content>
</section>

@section Scripts{

    <script src="~/Scripts/ajaxfileupload.js"></script>


    <script type="text/javascript">
        function doUpload(data, status, xhr) {

            $.ajaxFileUpload({
                url: "@Url.Action("UploadFiles", "Profile")", // مسيري كه بايد فايل به آن ارسال شود
                secureuri: false,
                formElementId: "uploadForm", // كدام فرم در صفحه پردازش شود؟
                dataType: "json",
                data:
                {
                    id: data.Id /* اين آي دي پس از ذخيره شدن محصول در سرور از آن دريافت مي‌شود */,
                    name1: "test"
                    // , ...
                }, // اطلاعات اضافي در صورت نياز
                complete: function () {
                },
                success: function (successData, successStatus) {

                    if (typeof (successData.FileName) != "undefined") {
                        alert(successData.FileName);
                    }
                },
                error: function (errorData, errorStatus, e) {

                    alert(e);
                    $("#loading").hide();
                }
            });

        }
    </script>

    <script>
        function doneEdit() {
            UIkit.notification('عملیات با موفقیت انجام شد');
        }
        function editPass() {
            $.get("/Tuotor/Profile/EditPass",
                function (result) {
                    UIkit.modal(document.getElementById('ModalChangePassword')).show();
                    $("#ModalChangePassword").html(result);
                });
        }


        function deleteVideo(id) {
            if (confirm("آیا از حذف ویدیو مطمئن هستید؟")) {
                $.ajax({
                    url: "/Tuotor/Profile/DeleteVideo/" + id,
                    type: "Get"
                }).done(function () {
                    $(".video_" + id).addClass("uk-text-danger");
                    $(".video_" + id).hide('slow');
                });
            }
        }
        function edit(id) {
            $.get("/Tuotor/Profile/EditVideo/" + id,
                function (result) {
                    UIkit.modal(document.getElementById('ModalUploadEdit')).show();
                    $("#ModalUploadEdit").html(result);
                });
        }
    </script>

}

