
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="~/Styles/Video.min.css" rel="stylesheet" />
<link href="~/Styles/Profile.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>




@Html.Action("Info", "Profile")

<!-- #region Upload -->

@Html.Action("UploadVideo", "Profile")
<!-- #endregion -->
<!-- #region Profile -->

<div id="ModalProfile" uk-modal>
    @Html.Action("ViewProfile", "Profile")
</div>

<!-- #endregion -->
<!-- #region Table -->
@Html.Action("VideoTable", "Profile")

<!-- #endregion -->

<div id="ModalUploadEdit" uk-modal>

</div>


<section class="videos uk-margin-medium-top column">
    <h3 class="clipped uk-margin-top uk-margin-small-bottom center">ویدیوهای <span class="simple">شما</span></h3>
    <content class="grid uk-margin-medium-bottom" dir="rtl">
        @Html.Action("VideoBlock", "Profile")
    </content>
</section>


<script>
    function deleteVideo(id) {
        if (confirm("آیا از حذف ویدیو مطمئن هستید؟")) {
            $.ajax({
                url: "/Tuotor/Profile/DeleteVideo/" + id,
                type: "Get"
            }).done(function () {
                $(".video_" + id).addClass("uk-text-danger");
                $(".video_" + id).hide('slow');
            });
        }
    }

    function edit(id) {
        $.get("/Tuotor/Profile/EditVideo/" + id,
            function (result) {
                UIkit.modal(document.getElementById('ModalUploadEdit')).show();
                $("#ModalUploadEdit").html(result);
            });
    }
</script>
