@model DataLayer.Models.Regular.TblTutor


<div class="uk-modal-dialog uk-modal-body full-width column" dir="rtl" id="ViewProfile">

    @using (Ajax.BeginForm(actionName: "ViewProfile",
                        controllerName: "Profile",
                        ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "doUpload"
                        },
                        routeValues: null,
                        htmlAttributes: new { id = "uploadForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.MainImage)
        @Html.HiddenFor(m => m.IdentificationNo)
        @Html.HiddenFor(m => m.TellNo)
        @Html.HiddenFor(m => m.UserPassId)


        <h2 class="uk-modal-title">اطلاعات کاربری</h2>
        <div class="row">
            <div class="column">
                <label class="uk-margin-top uk-margin-small-bottom">
                    نام
                </label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "uk-input uk-width-2-3   uk-margin-auto-left", required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="column uk-margin-right">
                <label class="uk-margin-top uk-margin-small-bottom">
                    تخصص
                </label>
                @Html.EditorFor(model => model.Specialty, new { htmlAttributes = new { @class = "uk-input uk-width-2-3   uk-margin-auto-left", required = "required" } })
            </div>
        </div>
        <div class="column uk-margin-bottom">
            <label class="uk-margin-top uk-margin-small-bottom">
                توضیحات
            </label>
            @Html.TextAreaFor(m => m.Description, new { required = "required", @class = "uk-input uk-width-2-3   uk-margin-auto-left" })
        </div>

        <!-- #region Upload Image -->
        <label class="uk-margin-top">
            عکس
        </label>
        <div class="uk-placeholder uk-margin-small-top uk-text-center" dir="rtl">
            <span uk-icon="icon: cloud-upload"></span>
            <span class="uk-text-middle"> عکس خود را اینجا بیاندازید و یا</span>
            <div uk-form-custom>
                <input type="file" name="Image" multiple>
                <span class="uk-link">انتخاب کتید</span>
            </div>
        </div>

        <!-- #endregion -->

        <div class="row uk-margin-medium-top" dir="rtl">
            <input type="submit" value="ویرایش" class="button-primary" />
            <a class="uk-button uk-button-default uk-margin-auto-bottom uk-margin-auto-left uk-margin-right uk-modal-close">بازگشت</a>
        </div>

    }
</div>




