@model DataLayer.Models.Regular.TblCatagory



@using (Ajax.BeginForm("Edit", "ProductCatagory", FormMethod.Post, new AjaxOptions()
{
    OnSuccess = "success",
    UpdateTargetId = "listGroup"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CatagoryId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "اسم گروه", htmlAttributes: new { @class = "uk-margin-small-bottom" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "uk-margin-bottom uk-margin-small-top uk-input", required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "uk-text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    ویرایش
                </button>
            </div>
        </div>
    </div>
}


