<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="سایت ورزشی و بدنسازی ان فیکس" />
    <meta name="keywords" content="بدنسازی، آنلاین، ویدیو، ویدیو آموزشی، ان فیکس" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="apple-touch-icon" href="~/Resources/Png/Mobile/icon_96.png" />
    <link href="~/Resources/Png/Mobile/icon_512.png" sizes="640x1136" rel="apple-touch-startup-image" />
    <meta name="apple-mobile-web-app-status-bar" content="#E73434" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#E73434" />
    <meta name="theme-color" content="#E73434" />

    <!-- Project Css -->
    <link href="/Styles/Index.min.css" rel="stylesheet" />
    <link href="/Styles/Controls.min.css" rel="stylesheet" />

    <!-- UIkit CSS -->
    <link href="/Styles/UIKit/uikit.min.css" rel="stylesheet" />

    <!--Owl Carousel CSS-->
    <link href="/Styles/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Styles/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />

    <!-- UIkit JS -->

    <script src="~/Scripts/UIKit/uikit.min.js"></script>
    <script src="~/Scripts/UIKit/uikit-icons.js"></script>

    <!--Owl Carousel Scripts-->
    <script src="~/Scripts/OwlCarousel/owl.carousel.min.js"></script>

    <!--Jquery-->
    <script src="~/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.unobtrusive-ajax.min.js"></script>

    <!-- #region recaptcha -->
    @*<script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>*@
</head>
<body>

    <div id="MobileNavigation" class="noprint" dir="rtl" uk-offcanvas="overlay: true ;flip: true">
        <div class="uk-offcanvas-bar column">

            <button class="no-glow uk-offcanvas-close" type="button" uk-close></button>

            <a href="/Home/Index" class="uk-margin-auto">
                <img src="~/Resources/Svg/NFIX.svg" width="80" height="25" alt="لوگو ان فیکس" />
            </a>
            <ul class="column uk-padding-remove" id="loginInUser">

                @Html.Action("LoginInUser", "HomeAccount", new { area = "" })
            </ul>

        </div>
    </div>

    <!-- #region Nav -->

    <nav class="uk-navbar-container noprint" uk-navbar>

        <div class="uk-navbar-left uk-margin-small-left">
            <ul class="uk-navbar-nav">
                <li id="loggedInUser2">
                    @Html.Action("LoginInUser2", "HomeAccount", new { area = "" })
                </li>

                <li>
                    <form action="/HomeSearch/Index" class="uk-search uk-search-default uk-width-small uk-margin-top uk-margin-left ">
                        <button class="button-icon no-glow" name="search" role="search" uk-search-icon></button>
                        <label class="display-none" for="q">جستجو ویدیو</label>
                        <input class="uk-search-input" type="search" name="q" id="q" dir="rtl" placeholder="جستجو...">
                    </form>
                </li>
            </ul>
        </div>

        <!-- #region Links -->

        <div class="uk-navbar-right uk-margin-small-right">
            <ul class="uk-navbar-nav">
                <li class="show-on-mobile">
                    <a class="hamburger-button uk-margin-auto" href="#MobileNavigation"
                       uk-icon="icon: menu ; ratio:1.6" uk-toggle="target: #MobileNavigation"></a>
                </li>
                <li class="hide-on-mobile">
                    <a href="/Home/About">درباره ما</a>
                </li>
                <li class="hide-on-mobile">
                    <a href="/HomeBlogs/AllBlogs">وبلاگ ها</a>
                </li>
                @*        <li class="hide-on-mobile"><a href="#">مربیان</a></li>*@
                <li class="hide-on-mobile">
                    <a href="/HomeVideo/AllVideos" mode="click" type="button">ویدیو ها</a>
                </li>
                <li>
                    <a href="/Home/Index">
                        <img width="80" height="25" src="~/Resources/Svg/NFIX.svg" alt="لوگو ان فیکس" />
                    </a>
                </li>

            </ul>
        </div>

        <!-- #endregion -->

    </nav>

    <!-- #endregion -->
    <!-- #region Floating Cart -->

    <div class="floating-cart uk-box-shadow-medium uk-box-shadow-hover-large">
        <a class="floating-cart-main" href="/ShopCart">
            <span uk-icon="icon:cart;ratio:1.5"></span>
        </a>
        <div class="floating-cart-counter">
            <span id="countShopCart">

            </span>
        </div>
    </div>

    <!-- #endregion -->

    @RenderBody()

    <!-- #region Footer -->
    <footer class="column noprint">
        <a href="#top" class="pill uk-card center uk-border-rounded">
            <span uk-icon="icon:chevron-up ; ratio:2"></span>
        </a>
        <div class="footer-container">

            <div class="row">
                <div class="contacts">
                    <h3 class="header">
                        پرداخت با
                    </h3>
                    <ul class="uk-padding-remove">
                        <li class="uk-margin-small-bottom">
                            <a href="">
                                <img width="64" height="40" src="~/Resources/Svg/Footer/maestro.svg" alt="" />
                            </a>
                        </li>
                        <li class="uk-margin-small-bottom">
                            <a href="">
                                <img width="64" height="40" src="~/Resources/Svg/Footer/master.svg" alt="" />
                            </a>
                        </li>
                        <li class="uk-margin-small-bottom">
                            <a href="">
                                <img width="64" height="40" src="~/Resources/Svg/Footer/paypal.svg" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img width="64" height="40" src="~/Resources/Svg/Footer/visa.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="links uk-margin-auto">
                    <h3 class="header">
                        دسترسی سریع
                    </h3>
                    <ul class="uk-padding-remove">
                        <li>
                            <a href="#">ویدیو ها</a>
                        </li>
                        <li>
                            <a href="#">وبلاگ ها</a>
                        </li>
                        <li>
                            <a href="#">درباره ما</a>
                        </li>
                        <li>
                            <a href="#">حساب کاربری</a>
                        </li>
                        <li>
                            <a href="#">خانه</a>
                        </li>
                        <li>
                            <a href="#">جستجو</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="map">
                    <h3 class="header">
                        اطلاعات
                    </h3>
                    <ul class="uk-padding-remove uk-list">
                        <li>
                            <address class="uk-margin-remove uk-link-muted">
                                تبریز، میدان جهاد، مجتمع ورزشی، کشاورزی
                            </address>
                        </li>
                        <li>
                            <a href="#" uk-icon="receiver">
                                0914 315 20 62
                            </a>
                        </li>
                        <li>
                            <a href="#" uk-icon="receiver">
                                0936 571 06 16
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    041 333 735 56
                                </span>
                                <strong dir="rtl">
                                    پشتیبانی IT 
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="#" uk-icon="google">
                                nfix2021gb@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row uk-margin-right uk-margin-bottom uk-margin-top ">
            <div class="row"></div>
            <span class="uk-link-muted uk-margin-auto-left" dir="rtl">
                Ⓒ تمام حقوق مادی ومعنوی این سایت متعلق به شرکت یاقوت وب ایرانیان می باشد.
                <br />
                طراحی و توسعه توسط شرکت
                <a href="https://arvintavco.com/" class="uk-link">ایده پرداز آروین تاو</a>.
            </span>
        </div>
    </footer>

    <!-- #Loading -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <div id="Modal-Show" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="Modal-Body"></div>
    </div>

    <!--#endregion-->
    <!-- PWA MAIN -->
    <script src="~/Scripts/app.js"></script>

    <script src="~/Scripts/layout.js"></script>
    <!-- #localhost  -->
    <!-- #site -->

    <script src="~/Scripts/UIScripts/Global.js"></script>
    <!-- #localhost  -->
    @*<script src="https://www.google.com/recaptcha/api.js?render=6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF&&hl=fa"></script>
        <script>
            grecaptcha.ready(function () {
                grecaptcha.execute('6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF', { action: 'contact_us' }).then(function (token) {
                    $('.GoogleCapcha').val(token);
                });
            });
            function reloadRech() {
                grecaptcha.execute('6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF', { action: 'contact_us' }).then(function (token) {
                    $('.GoogleCapcha').val(token);
                });
            }
        </script>*@

    <!-- #Site  -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LeO5vwZAAAAANXhfOXKib-g58QSDTcJjvVNNWTE&hl=fa"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeO5vwZAAAAANXhfOXKib-g58QSDTcJjvVNNWTE', { action: 'contact_us' }).then(function (token) {
                $('.GoogleCapcha').val(token);
            });
        });
        function reloadRech() {
            grecaptcha.execute('6LeO5vwZAAAAANXhfOXKib-g58QSDTcJjvVNNWTE', { action: 'contact_us' }).then(function (token) {
                $('.GoogleCapcha').val(token);
            });
        }
    </script>

    <script>

        function LoadingRun(form) {
            if (!$(form).valid()) return;
            $("#overlay").fadeIn(300);
        }
        function LoadingEnd(form) {
            $("#overlay").fadeOut(300);
            reloadRech();

            //$(form)[0].reset();
        }
        function reloadLogin() {
            $('#loggedInUser2').load('/HomeAccount/LoginInUser2');
            $('#loginInUser').load('/HomeAccount/LoginInUser');
        }
        $(function () {
            countShopCart();
        });

        function countShopCart() {
            $.get("/Api/Shop", function (res) {
                $("#countShopCart").html(res);
            });
        }

        function AddToCart(id) {
            $.get("/Api/Shop/" + id, function (res) {
                $("#countShopCart").html(res);
                updateShopCart();
            });
        }

        function updateShopCart() {
            $("#showCart").load("/ShopCart/ShowCart").fadeOut(800).fadeIn(800);
        }
        function showLogin() {
            $.get('/HomeAccount/Login').then((res) => {
                document.querySelector('#Modal-Body').innerHTML = res;
                UIkit.modal(document.getElementById('Modal-Show')).show();
                reloadRech();
            });

        };

        function showRegister() {
            $.get('/HomeAccount/Register').then((res) => {
                reloadRech();
                $('#Modal-Body').html(res);
                UIkit.modal(document.getElementById('Modal-Show')).show();
            });
        };
        function ForgotPassword() {
            $.get('/HomeAccount/ForgotPassword').then((res) => {
                reloadRech();
                UIkit.modal(document.getElementById('Modal-Show')).show();
                $('#Modal-Body').html(res);
            });
        };
        function changePassword(name) {
            $.get('/HomeAccount/RecoveryPassword/' + name).then((res) => {
                reloadRech();
                UIkit.modal(document.getElementById('Modal-Show')).show();
                $('#Modal-Body').html(res);
            });
        };
        function doneModal(form) {
            $("#overlay").fadeOut();
            UIkit.modal(document.getElementById(form)).hide();
            window.location.href = "/";
        }
    </script>

    <!-- #endregion -->

    @RenderSection("Scripts", false)

</body>
</html>
