<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Project Css -->
    <link href="/Styles/Index.min.css" rel="stylesheet" />
    <link href="/Styles/Controls.min.css" rel="stylesheet" />

    <!-- UIkit CSS -->
    <link href="/Styles/UIKit/uikit.min.css" rel="stylesheet" />

    <!--Owl Carousel CSS-->
    <link href="/Styles/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Styles/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />

    <!-- UIkit JS -->


</head>
<body>
    <div id="MobileNavigation" dir="rtl" uk-offcanvas="overlay: true ;flip: true">
        <div class="uk-offcanvas-bar column">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <a href="/Home/Index" class="uk-margin-auto">
                <img src="/Resources/Svg/NFIX.svg" />
            </a>
            <ul class="column">

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <li>
                            <a href="/Admin/Blog/BlogTable" class="row">
                                <span uk-icon="user"></span>
                                پنل مدیریت
                            </a>
                        </li>
                    }
                    if (User.IsInRole("tutor"))
                    {
                        <li>
                            <a href="/Tuotor/Profile/Index" class="row">
                                <span uk-icon="user"></span>
                                پنل مربی
                            </a>
                        </li>
                    }
                    if (User.IsInRole("user"))
                    {
                        <li>
                            <a href="/User/Profile/Index" class="row">
                                <span uk-icon="user"></span>
                                پروفایل
                            </a>
                        </li>
                    }
                    <li>
                        <a href="/HomeAccount/LogOff" class="row">
                            <span uk-icon="sign-out"></span>
                            خروج
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#" uk-toggle="target: #ModalLogin">
                            <span uk-icon="user"></span>
                            ورود / ثبت نام
                        </a>
                    </li>
                }

                <li>
                    <a href="/Home/About">
                        <span uk-icon="info"></span>
                        درباره ما
                    </a>
                </li>
                <li>
                    <a href="/HomeBlogs/AllBlogs">
                        <span uk-icon="file-text"></span>
                        وبلاگ ها
                    </a>
                </li>
                <li>
                    <a href="/HomeVideo/AllVideos" mode="click" type="button">
                        <span uk-icon="play"></span>
                        ویدیو ها
                    </a>
                </li>
                <li>
                    <hr class="uk-margin-top uk-margin-remove-bottom" />
                </li>
                <li dir="rtl">
                    <a href="#">
                        <span uk-icon="phone"></span>
                        دانلود برنامه
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span uk-icon="home"></span>
                        خانه
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <!-- #region Nav -->

    <nav class="uk-navbar-container" uk-navbar>

        <div class="uk-navbar-left uk-margin-small-left">
            <ul class="uk-navbar-nav">
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-profile" type="button" href="#">
                            پروفایل
                        </a>
                        <div uk-drop="offset: -10" class="drop" dir="rtl">
                            <div class="mat uk-padding column">
                                @if (User.IsInRole("user"))
                                {
                                    <a class="nav-profile row" dir="rtl" type="button" href="/User/Profile/Index">
                                        <span uk-icon="user"></span>
                                        <span class="uk-margin-small-right">پروفایل</span>
                                    </a>
                                    <a class="nav-profile row" dir="rtl" type="button" href="/User/Profile/Index">
                                        <span uk-icon="cart"></span>
                                        <span class="uk-margin-small-right">سبد خرید</span>
                                    </a>
                                }
                                else if (User.IsInRole("admin"))
                                {
                                    <a class="nav-profile" type="button" href="/Admin/Blog/BlogTable">
                                        <span uk-icon="user"></span>
                                        <span class="uk-margin-small-right">
                                            پنل مدیریت
                                        </span>
                                    </a>
                                }
                                else if (User.IsInRole("tutor"))
                                {
                                    <a class="nav-profile row" type="button" href="/Tuotor/Profile/Index">
                                        <span uk-icon="user"></span>
                                        <span class="uk-margin-small-right">
                                            پنل مربی
                                        </span>
                                    </a>
                                }
                                <a class="nav-profile" href="/HomeAccount/LogOff">
                                    <span uk-icon="sign-out"></span>
                                    <span class="uk-margin-small-right">خروج</span>
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="nav-profile" href="#" uk-toggle="target: #ModalLogin" type="button">
                            ورود
                        </a>
                    }

                    <!-- #region Register -->
                    <!--name-->
                    <!--tell-->
                    <!--user-->
                    <!--pass-->

                    <div id="ModalRegister" uk-modal>
                        @Html.Action("Register", "HomeAccount", new { area = "" })
                    </div>

                    @*@Html.Action("Register", "HomeAccount", new { area = "" })*@
                    <!-- #endregion -->
                    <!-- #region Login -->
                    <div id="ModalLogin" uk-modal>
                        @Html.Action("Login", "HomeAccount", new { area = "" })
                    </div>

                    <!--#endregion-->
                    <!-- #region Login -->
                    <div id="ModalForget" uk-modal>
                        @Html.Action("ForgotPassword", "HomeAccount", new { area = "" })
                    </div>

                    <!--#endregion-->
                </li>

                <li>
                    <form class="uk-search uk-search-default uk-width-small uk-margin-top uk-margin-left ">
                        <a href="" uk-search-icon></a>
                        <input class="uk-search-input" type="search" dir="rtl" placeholder="جستجو...">
                    </form>
                </li>
            </ul>
        </div>

        <!-- #region Links -->

        <div class="uk-navbar-right uk-margin-small-right">
            <ul class="uk-navbar-nav">
                <li class="show-on-mobile">
                    <a class="hamburger-button uk-margin-auto" href="#MobileNavigation"
                       uk-icon="icon: menu ; ratio:1.6" uk-toggle="target: #MobileNavigation"></a>
                </li>
                <li class="hide-on-mobile">
                    <a href="/Home/About">درباره ما</a>
                </li>
                <li class="hide-on-mobile">
                    <a href="/HomeBlogs/AllBlogs">وبلاگ</a>
                </li>
                @*        <li class="hide-on-mobile"><a href="#">مربیان</a></li>*@
                <li class="hide-on-mobile">
                    <a href="/HomeVideo/AllVideos" mode="click" type="button">ویدیو</a>
                </li>
                <li>
                    <a href="/Home/Index">
                        <img src="/Resources/Svg/NFIX.svg" />
                    </a>
                </li>

            </ul>
        </div>

        <!-- #endregion -->

    </nav>

    <!-- #endregion -->

    @RenderBody()

    <!-- #region Footer -->

    <footer class="column">
        <a href="#top" class="pill uk-card center uk-border-rounded">
            <span uk-icon="icon:chevron-up ; ratio:2"></span>
        </a>
        <div class="footer-container">
            <div class="links">
                <h3 class="header">
                    دسترسی سریع
                </h3>
                <ul class="uk-padding-remove">
                    <li>
                        <a href="/HomeVideo/AllVideos">ویدیو ها</a>
                    </li>
                    <li>
                        <a href="/HomeBlogs/AllBlogs">وبلاگ ها</a>
                    </li>
                    <li>
                        <a href="/Home/About">درباره ما</a>
                    </li>
                    <li>
                        <a href="#">حساب کاربری</a>
                    </li>
                    <li>
                        <a href="/">خانه</a>
                    </li>
                    <li>
                        <a href="#">جستجو</a>
                    </li>
                </ul>
            </div>
            <div class="map">
                <h3 class="header">
                    اطلاعات
                </h3>
                <ul class="uk-padding-remove">
                    <li>
                        <a href="#">
                            <address>
                                تبریز، میدان جهاد، مجتمع ورزشی، کشاورزی
                            </address>
                        </a>
                    </li>
                    <li>
                        <a href="#" uk-icon="receiver">
                            0914 - 315 - 20 - 62
                        </a>
                    </li>
                    <li>
                        <a href="#" uk-icon="receiver">
                            0936 - 571 - 06 - 16
                        </a>
                    </li>
                    <li>
                        <a href="#" uk-icon="google">
                            nfix2021gb@gmail.com
                        </a>
                    </li>
                </ul>
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d970159.3812952577!2d-77.7300233174102!3d18.22438981474459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eda2a1bc6cf719d%3A0x59a0d1c0b5120efa!2sJamaica!5e0!3m2!1sen!2sae!4v1602401433905!5m2!1sen!2sae"
                    frameborder="0" allowfullscreen aria-hidden="false" tabindex="0"></iframe>*@
            </div>
            <div class="contacts">
                <h3 class="header">
                    پرداخت با
                </h3>
                <ul class="uk-padding-remove">
                    <li>
                        <a href="">
                            <img width="64" src="~/Resources/Svg/Footer/maestro.svg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="64" src="~/Resources/Svg/Footer/master.svg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="64" src="~/Resources/Svg/Footer/paypal.svg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="64" src="~/Resources/Svg/Footer/visa.svg" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="" class="uk-margin-right uk-margin-bottom uk-margin-top center uk-margin-auto" dir="rtl">
            Ⓒ تمام حقوق مادی ومعنوی این سایت متعلق به شرکت یاقون وب ایرانیان می باشد.
            <br />
            طراحی و توسعه توسط شرکت ایده پرداز آروین تاو.
        </a>
        @*<a href="" class="uk-margin-right uk-margin-bottom">طراحی و توسعه توسط شرکت ایده پرداز آروین تاو</a>*@
    </footer>

    <div class="footer-stripe"></div>


    <!-- #endregion -->


    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

    <script>
        var onSubmit = function (token) {
            console.log('success!');
        };

        var onloadCallback = function () {
            grecaptcha.render('submit', {
                'sitekey': 'your_site_key',
                'callback': onSubmit
            });
        };
    </script>
    <script src="~/Scripts/UIKit/uikit.min.js"></script>
    <script src="~/Scripts/UIKit/uikit-icons.js"></script>

    <!--Owl Carousel Scripts-->
    <script src="~/Scripts/OwlCarousel/owl.carousel.min.js"></script>
    <!--Scroll Reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--Jquery-->
    <script src="~/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.unobtrusive-ajax.min.js"></script>

    <!--Copy Link-->
    <script src="~/Scripts/UIScripts/Global.js"></script>

    <!-- #region recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
    <!-- #endregion -->
    @RenderSection("Scripts", false)
</body>
</html>
