@model DataLayer.ViewModel.VideoViewViewModel

@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="~/Styles/Video.min.css" rel="stylesheet" />
<div class="space-nav-bottom"></div>

<div class="main">

    <!-- #region Aside -->

    <aside class="column">

        <h4 class="uk-margin-remove-bottom">
            پیشنهادات
        </h4>
        <hr />
        @Html.Action("VideoRecommendations", "HomeVideo", new { Keywords = Model.Keywords, Title = Model.Title })
    </aside>

    <!-- #endregion -->

    <content class="column">

        <!--<img class="video-playback" src="https://picsum.photos/800/400" />-->
        @if (User.Identity.IsAuthenticated && User.IsInRole("user") && Model.IsPremium)
        {
            <video class="video-playback" controls controlsList="nodownload">
                <source src="~/Resources/Videos/@Model.VideoUrl" type="video/mp4">
            </video>
        }
        else
        {
            <video class="video-playback" controls controlsList="nodownload">
                <source src="~/Resources/Videos/Demo/@Model.VidioDemoUrl" type="video/mp4">
                <source src="~/Resources/Svg/NoImage.svg" type="image/svg+xml">
            </video>

            <a href="/HomeShopCart/Plans" class="uk-alert uk-alert-danger uk-margin-remove-bottom">
                <p dir="rtl">
                    برای تماشا ویدیو کامل لطفا <span class="uk-text-danger">اشتراک</span> تهیه نمایید
                </p>
            </a>
        }

        <h4 class="video-title">
            @Model.Title
        </h4>

        <div class="profile-media-container">
            <section class="media row uk-padding-small">
                <label class="view-count" uk-tooltip="تعداد بازدید">
                    <span>@Model.ViewCount</span>
                </label>
                @*<input type="text" style="width:0.1px;height:0.1px;opacity:0" id="dummyInput" value="" />*@
                <a uk-icon="link" onclick="fallbackCopyTextToClipboard(window.location.href); UIkit.notification('لینک اشتراک کپی شد')" uk-tooltip="اشتراک گذاری"></a>

                <!--<a class="uk-animation-slide-top-small" uk-tooltip="title:لایک" uk-icon="heart"></a>-->
                <div class="row star-container uk-margin-small-left" uk-tooltip="@((float)Model.Raiting / 20)" dir="rtl">
                    <div class="Stars" style="--rating:  (@Model.Raiting/20);" aria-label="Rating of this product is 2.3 out of 5."></div>
                </div>
            </section>
            <a href="" class="tutor row uk-margin-auto-left">

                <div class="column uk-margin-auto-top uk-margin-auto-bottom">
                    <h6>@Model.TutorName</h6>
                    <p>@Model.TutorSpecialty</p>
                </div>
                <img class="tutor-img uk-margin-small-left" src="~/Resources/Tutor/@Model.TutorMainImage" />


            </a>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("user") && Model.IsPremium)
        {

            <p>
                @Model.Description
            </p>
        }
        else
        {
            <p>

                @Model.DescriptionDemo
            </p>
        }

        <hr />


        <!--Comment Section-->
        <div class="row uk-margin-small-bottom">
            <h4 class="uk-margin-auto-left uk-margin-remove-top
                    uk-margin-remove-bottom ">
                نظرات
            </h4>
            <a onclick="HideElementsByIds(['comments','makeComment'])"
               class="rotary-chevron uk-margin-auto-top"
               id="btnHideCommentSection"
               uk-icon="icon:chevron-down;ratio:1.5"></a>
        </div>


        <section id="makeComment" class="make-comment uk-margin-bottom">

            @Html.Action("CreateComment", Model.id)

        </section>

        <section id="comments" class="comments">


            <!-- #region Comment -->
            @Html.Action("ShowComments", "HomeVideo", Model.id)


            <!-- #endregion -->


        </section>

    </content>
</div>

<div class="space"></div>

<script src="~/Scripts/UIScripts/CommentSection.js"></script>
<script src="~/Scripts/UIScripts/CopyToClipboard.js"></script>

<script>
    function successComment() {
        $("#Body").val("");

    }
</script>