@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="/Styles/Profile.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

<content class="column clipped">

    @Html.Action("Info", "Profile")

    <!-- #region History -->

    @if (Request.QueryString["BlogFactor"] != null)
    {
        <div class="uk-alert-success noprint" uk-alert>
            <h2>تراکنش با موفقیت انجام شد</h2>
            <p>کد پیگیری شما : @Request.QueryString["BlogFactor"]</p>
        </div>
    }

    @Html.Action("HistoryLog", "Profile")
    @Html.Action("History", "Profile")

    <!-- #endregion -->

</content>

<div class="space"></div>

<script>
    var circle = document.getElementsByClassName('progress-ring__circle')[0];
    var radius = circle.r.baseVal.value;
    var circumference = radius * 2 * Math.PI;

    circle.style.strokeDasharray = `${circumference} ${circumference}`;
    circle.style.strokeDashoffset = `${circumference}`;

    function setProgress(percent) {
        const offset = circumference - percent / 100 * circumference;
        circle.style.strokeDashoffset = offset;
    }

    const percentage = document.getElementsByClassName('progress-ring-container')[0].getAttribute("percentage");
    setProgress(parseInt(percentage));

</script>

<!-- #region EditModal -->

<div id="Modal-Edit" uk-modal>
    @Html.Action("EditInfo", "Profile", new { area = "User" })
</div>
<!-- #endregion -->


@section Scripts{

    <script>
        function doneEdit() {
            UIkit.notification('عملیات با موفقیت انجام شد');
        }
        function editPass() {
            $.get("/User/Profile/EditPass",
                function (result) {
                    UIkit.modal(document.getElementById('ModalChangePassword')).show();
                    $("#ModalChangePassword").html(result);
                });
        }
    </script>
}