@model DataLayer.Models.Regular.TblClient
<div class="alternate">
    <!-- #region Plan -->

    <section class="plan mat column uk-padding ">
        <h4 class="center uk-margin-bottom">
            اشتراک شما
        </h4>
        @{
            int daysTillFinished = ((DateTime.Parse(Model.PremiumTill) - DateTime.Now).Days);
            int totalDays = 0;
            int totalMonth = 0;
            if (daysTillFinished <= 365 && daysTillFinished > 183)
            {
                totalDays = 365;
                totalMonth = 12;
            }
            else if (daysTillFinished <= 183 && daysTillFinished > 91)
            {
                totalDays = 183;
                totalMonth = 6;
            }
            else if (daysTillFinished <= 91 && daysTillFinished > 30)
            {
                totalDays = 91;
                totalMonth = 3;
            }
            else if (daysTillFinished <= 30)
            {
                totalDays = 1;
            }

        }
        <label class="uk-margin-small-bottom center">
            اشتراک @totalMonth ماهه
        </label>
        <div class="row uk-margin-bottom center">
            <!--<label class="uk-margin-small-right uk-margin-auto-top uk-margin-small-bottom">
            روز
        </label>
        <h1 id="Days" class="uk-margin-remove overflow-hidden">
            30
        </h1>-->

            <div class="progress-ring-container" percentage="@(Math.Floor(((double)daysTillFinished/totalDays)*100))">
                <svg class="progress-ring"
                     width="120"
                     height="120">
                    <circle class="progress-ring__circle"
                            stroke="white"
                            stroke-width="4"
                            fill="transparent"
                            r="56"
                            cx="60"
                            cy="60" />
                </svg>
                <div class="text">
                    <div class="column">
                        <p>
                            @((DateTime.Parse(Model.PremiumTill) - DateTime.Now).Days)
                        </p>
                        <label>
                            روز
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button class="uk-margin-auto-top center">
            تمدید
        </button>
    </section>

    <!-- #endregion -->
    <div class="gap"></div>
    <!-- #region Profile -->

    <section class="profile mat column uk-padding">
        <h4>
            اطلاعات حساب
        </h4>
        <div class="row">
            <div class="column uk-margin-auto-left">
                <label>
                    نام کاربری
                </label>
                <h5>
                    @Model.TblUserPass.Username
                </h5>

            </div>
            <div class="column uk-margin-auto-left">
                <label>
                    رایانامه
                </label>
                <h5>
                    @Model.Email
                </h5>
                <label>
                    کد دعوت شما
                </label>
                <h5>
                    @Model.InviteCode
                </h5>
            </div>
        </div>
        <button class="uk-margin-auto-left uk-margin-auto-top" type="button" uk-toggle="target: #Modal-Edit">
            ویرایش
        </button>
    </section>

    <!-- #endregion -->
</div>

