@model DataLayer.Models.Regular.TblBlog
@{
    ViewBag.Title = ViewBag.Description;
}


<!-- #region Styles -->

<link href="~/Styles/about.min.css" rel="stylesheet" />

<!-- #endregion -->

<div class="abouthead uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: 0" style="background-image: url(/Resources/Blogs/@Model.MainImage);">
    <h2 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">@Model.Title</h2>
</div>
<div class="about mat column uk-margin-auto">
    <div class="uk-padding editorText" role="document">
        <!-- #region Body -->

        @Html.Raw(Model.Body)
        <!-- #endregion -->
        <a id="addLikeBlo"  onclick="addLikeBlog(@Model.id)" class="uk-margin-remove-bottom uk-margin-auto-right">
            <span>@Model.LikeCount</span>
            <span uk-icon="heart"></span>
        </a>
    </div>
</div>

<div class="commies column uk-margin-auto  uk-margin-medium-top">

    <!--Comment Section-->
    <div class="row uk-margin-small-bottom">
        <h4 class="uk-margin-auto-left uk-margin-remove-top
                    uk-margin-remove-bottom ">
            نظرات
        </h4>
        <a onclick="HideElementsByIds(['comments','makeComment'])"
           class="rotary-chevron uk-margin-auto-top"
           id="btnHideCommentSection"
           uk-icon="icon:chevron-down;ratio:1.5"></a>
    </div>

    <section id="makeComment" class="make-comment uk-margin-bottom">
        @Html.Action("CreateComment", Model.id)

    </section>





    <section id="comments" class="comments">
        <!-- #region Comment -->
        @Html.Action("ShowComments", "HomeBlogs", Model.id)
        <!-- #endregion -->

    </section>

</div>

<div class="space"></div>
<script>
    function successComment() {
        $("#Body").val("");

    }

    function addLikeBlog(id) {
        $.get("/HomeBlogs/AddLikeBlog/" + id, function (result) {
            $("#addLikeBlo").hide('slow');
        });
    }
</script>
<script src="~/Scripts/UIScripts/CommentSection.js"></script>