@model DataLayer.ViewModel.AdminViewModel
@{
    ViewBag.Title = "ویرایش مدیر";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- #region Card -->
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.id)
    @Html.HiddenFor(m=>m.Password)
    @Html.HiddenFor(m=>m.Auth)
    @Html.HiddenFor(m=>m.RoleId)
    <div class="mat uk-margin-large-top uk-padding-small column clipped">
        <h4 class="uk-margin-remove-bottom">
            کاربر جدید
        </h4>
        <label for="Title" class="uk-margin-small-bottom uk-margin-top">
            نام مدیر
        </label>
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "uk-input uk-width-2-3   uk-margin-auto-left", required = "required" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })


        <div class="row uk-margin-auto-left">
            <label for="IsSuggested" class="uk-margin-small-right">فعال باشد</label>
            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "uk-checkbox uk-margin-auto-top uk-margin-auto-bottom" } })
        </div>

        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
        <button type="submit" class="see uk-margin-medium-top uk-margin-auto-left">ذخیره</button>
    </div>
}

<div class="space"></div>

<!-- #endregion -->
