@model IEnumerable<DataLayer.ViewModel.AdminViewModel>
@{
    ViewBag.Title = "مدیرها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>نام کاربری</th>
            <th>فعال</th>
            <th>تغیر رمز</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="User_@item.id">
                    <td>@(Model.ToList().IndexOf(item)+1)</td>
                    <td>@item.UserName</td>
                    <td>
                        <input type="checkbox" class="uk-checkbox" @((item.IsActive) ? "checked" : "") onclick="return false;" readonly />
                    </td>
                    <td>
                        <a href="#" onclick="editPass(@item.id, '@item.UserName')" uk-icon="icon:lock; ratio:1"></a>
                    </td>
                    <td>
                        <a href="#" onclick="deleteAdmin(@item.id)" uk-icon="icon:trash; ratio:1"></a>
                    </td>
                    <td>
                        <a href="/Admin/Admin/Edit/@item.id" uk-icon="icon:file-edit; ratio:1"></a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<!-- Modal-Change-Password -->
<div id="ModalChangePassword">
</div>

<!-- #endregion -->
<!-- #endregion -->
<script>
    function deleteAdmin(id) {
        if (confirm("آیا از حذف مدیر مطمئن هستید؟")) {
            $.ajax({
                url: "/Admin/Admin/DeleteAdmin/" + id,
                type: "Get"
            }).done(function () {
                $("#User_" + id).addClass("uk-text-danger");
                $("#User_" + id).hide('slow');
            });
        };
    };
</script>




@section Scripts{

    <!--Jquery-->
    <script src="~/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function doneEdit() {
            UIkit.notification('عملیات با موفقیت انجام شد');
        }
        function editPass(id, name) {
            $.get("/Admin/Admin/EditPass/" + id + "?Name=" + name,
                function (result) {
                    UIkit.modal(document.getElementById('ModalChangePassword')).show();
                    $("#ModalChangePassword").html(result);
                });
        }
    </script>
}

