@model DataLayer.ViewModel.RegisterViewModel

<div class="uk-modal-dialog uk-modal-body">
    <div class="alternate">
        <img src="~/Resources/Png/Login.png" alt="Boxing Club, Gym" width="400" height="600" />

        @using (Ajax.BeginForm("Login", "HomeAccount", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "LoadingEnd('#LoginForm')", UpdateTargetId = "ModalLogin" }, htmlAttributes: new { @id = "LoginForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="column">
                <button class="no-glow uk-modal-close uk-margin-auto-left" type="button" uk-close></button>
                <h3 class="uk-margin-small-top">
                    ورود
                </h3>
                @if (Request.QueryString["LoginInUser"] != null)
                {
                    <div>
                        لطفا وارد حساب خود شوید
                    </div>
                }

                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "uk-margin-small-top", required = "required" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "uk-margin-small-top", required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                <div class="uk-margin-auto-left row uk-margin-small-top uk-margin-bottom row">
                    @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "uk-checkbox uk-margin-small-left uk-margin-auto-top" } })
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>

                @Html.HiddenFor(m => m.GoogleCapcha, htmlAttributes: new { @class = "GoogleCapcha" })
                @Html.ValidationMessageFor(model => model.GoogleCapcha, "", new { @class = "text-danger" })

                <a uk-toggle href="#ModalForget"> رمز خود را فراموش کرده اید؟</a>
                    
                <div class="buttons-panel">
                    <a class="uk-button uk-button-default uk-margin-auto-bottom uk-margin-auto-left uk-margin-right "
                       href="#ModalRegister" uk-toggle>ثبت نام</a>

                    <button class="uk-margin-auto-botto m" onclick="LoadingRun('#LoginForm')">
                        ورود
                    </button>
                </div>

            </div>
        }

    </div>
</div>

