

@model DataLayer.ViewModel.RecoveryPasswordViewModel

<div class="uk-modal-dialog uk-modal-body">
    <div class="alternate" onclick="">
        @using (Ajax.BeginForm("RecoveryPassShowModal", "HomeAccount", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "recoveryPassShowModal" }, htmlAttributes: new { @id = "ForgetForm" }))
        {
            @Html.AntiForgeryToken()
        <div class="column">
            <h3>
              رمز عبور جدید
            </h3>
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = " uk-margin-small-top", required = "required" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


            @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = " uk-margin-small-top", required = "required" } })
            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

            <!-- #region     -->
            <!--<div class="center uk-margin-medium-top">
        <div dir="rtl">-->
            <!-- Site -->
            <!-- localhost -->
            <!--<div class="g-recaptcha" data-sitekey="6Ld_XsIZAAAAAD5pg4pDXJWD93von5OYhbai1zma"></div>

            <span class=" uk-text-danger">@ViewBag.Message</span>
        </div>
    </div>-->
            <!-- #endregion -->
            <div class="row uk-margin-medium-top">
                <button class=" uk-margin-auto-bottom ">
                    ارسال
                </button>
            </div>
        </div>
        }

    </div>
</div>


