@model DataLayer.ViewModel.RecoveryPasswordViewModel

<div class="alternate" onclick="">
    @using (Ajax.BeginForm("RecoveryPassword", "HomeAccount", new AjaxOptions() { HttpMethod = "POST", OnFailure = "doneModal('Modal-Show')", OnSuccess = "LoadingEnd('#Modal-Body')", UpdateTargetId = "Modal-Body" }, htmlAttributes: new { @id = "RecoveryPasswordShowInModal" }))
    {
        @Html.AntiForgeryToken()
        <div class="column">
            <h3>
                رمز عبور جدید
            </h3>
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = " uk-margin-small-top" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


            @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = " uk-margin-small-top" } })
            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

            <!-- #region  recaptcha   -->
            <div class="center uk-margin-medium-top">
                <div dir="rtl">
                    <!-- Site -->
                    @*<div class="g-recaptcha" data-sitekey="6LepA-IZAAAAAGOiWljVAcpeB9d6h9Eb2RCVZXK6"></div>*@

                    <!--  localhost-->
                    <div class="g-recaptcha" data-sitekey="6Ld_XsIZAAAAAD5pg4pDXJWD93von5OYhbai1zma"></div>
                    <span class=" uk-text-danger">@ViewBag.Message</span>
                </div>
            </div>
            <!-- #endregion -->

            <div class="row uk-margin-medium-top">
                <button class="uk-margin-auto-left uk-margin-auto-bottom " onclick="LoadingRun('#RecoveryPasswordShowInModal')">
                    تغیر رمز
                </button>
            </div>
        </div>
    }

</div>




