@model DataLayer.ViewModel.RegisterViewModel
<div class="uk-modal-dialog uk-modal-body">
    <div class="alternate">
        <img src="~/Resources/Png/Register.png" alt="Gym interior" />

        @using (Ajax.BeginForm("Register", "HomeAccount", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "LoadingEnd('#RegisterForm')", UpdateTargetId = "ModalRegister" }, htmlAttributes: new { @id = "RegisterForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="column uk-padding-remove-bottom">
                <button class="uk-modal-close uk-margin-auto-left no-glow" type="button" uk-close></button>
                <h3 class="uk-margin-small-top">
                    ثبت نام
                </h3>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = " uk-margin-small-top" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = " uk-margin-small-top" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                 @Html.LabelFor(model => model.TellNo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TellNo, new { htmlAttributes = new { @class = " uk-margin-small-top", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                @Html.ValidationMessageFor(model => model.TellNo, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = " uk-margin-small-top", required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = " uk-margin-small-top", required = "required" } })
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.GoogleCapcha, htmlAttributes: new { @class = "GoogleCapcha" })
                @Html.ValidationMessageFor(model => model.GoogleCapcha, "", new { @class = "text-danger" })

                <div class="row uk-margin-medium-top">
                    <a class="uk-button uk-button-default uk-margin-auto-left uk-margin-right "
                       onclick="UIkit.modal(document.getElementById('ModalLogin')).show();">ورود</a>
                    <button class="uk-margin-remove-bottom" onclick="LoadingRun('#RegisterForm')">
                        ثبت نام
                    </button>
                </div>
            </div>

        }


    </div>
</div>


