@model DataLayer.ViewModel.RegisterViewModel
<div class="uk-modal-dialog uk-modal-body">
    <div class="alternate">
        <img src="https://picsum.photos/400/600" alt="" />
        @using (Ajax.BeginForm("Register", "HomeAccount", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "LoadingEnd('#RegisterForm')", UpdateTargetId = "ModalRegister" }, htmlAttributes: new { @id = "RegisterForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="column uk-padding-remove-bottom">
                <h3>
                    ثبت نام
                </h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = " uk-margin-small-top" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = " uk-margin-small-top" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = " uk-margin-small-top", required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = " uk-margin-small-top", required = "required" } })
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.GoogleCapcha, htmlAttributes: new { @class = "GoogleCapcha" })
                @Html.ValidationMessageFor(model => model.GoogleCapcha, "", new { @class = "text-danger" })

                <!-- #region     -->
                <!--<div class="center uk-margin-medium-top">
                <div dir="rtl">
                    <!-- Site -->
                <!--@*<div class="g-recaptcha" data-sitekey="6LepA-IZAAAAAGOiWljVAcpeB9d6h9Eb2RCVZXK6"></div>*@-->
                <!--  localhost-->
                <!--<div class="g-recaptcha" data-sitekey="6Ld_XsIZAAAAAD5pg4pDXJWD93von5OYhbai1zma"></div>
                        <span class=" uk-text-danger">@ViewBag.Message</span>
                    </div>
                </div>-->
                <!-- #endregion -->

                <div class="row uk-margin-medium-top">
                    <a class="uk-button uk-button-default uk-margin-auto-left uk-margin-right "
                       onclick="UIkit.modal(document.getElementById('ModalLogin')).show();">ورود</a>
                    <button class="uk-margin-remove-bottom" onclick="LoadingRun('#RegisterForm')">
                        ثبت نام
                    </button>
                </div>
            </div>

        }


    </div>
</div>


