@model IEnumerable<DataLayer.Models.Regular.TblClientProductRel>
@{
    ViewBag.Title = "OrderTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="space-nav-bottom"></div>


<content class="column clipped">

    <div class="row onprint" dir="rtl">
        <img src="~/Resources/Svg/NFIXBlack.svg" alt="" />
        <span class="uk-margin-auto-right">
            @ViewBag.Date
        </span>
    </div>

    <h4 class="uk-margin-remove-bottom" dir="rtl">
        کد فاکتور  @ViewBag.FactId
    </h4>
    <h4 class="uk-margin-remove-bottom" dir="rtl">
        نام کاربر  @ViewBag.UserName
    </h4>
    <h4 class="uk-margin-remove-bottom" dir="rtl">
        شماره تلفن  @ViewBag.Tell
    </h4>

    <table id="main" class="uk-table uk-table-divider" dir="rtl">
        <thead>
            <tr>
                <th>کد</th>
                <th>نام</th>
                <th>فی</th>
                <th>دسته بندی</th>
                <th>تعداد</th>
                <th>تخفیف</th>
                <th>مجموع</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(Model.ToList().IndexOf(item)+1)</td>
                    <td>@item.TblProduct.Name</td>
                    <td>@item.Price</td>
                    <td>@item.TblProduct.TblCatagory.Name</td>
                    <td>@item.Count</td>
                    <td>@item.Discount%</td>
                    <td>@(item.Discount == 0 ? item.Price * item.Count : (item.Price - (long)(Math.Floor((decimal)(item.Price * item.Discount / 100)))) * item.Count)</td>
                </tr>

            }

        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@Model.Sum(p=>p.Count)</td>
                <td></td>
                <td>
                    @Model.Sum(p=>p.Price * p.Count)
                </td>
            </tr>
        </tfoot>
    </table>

    <button onclick="window.print()" class="noprint uk-margin-auto-left uk-margin-bottom">
        چاپ
    </button>

</content>

<div class="space"></div>