@model IEnumerable<DataLayer.Models.Regular.TblProduct>
@{
    ViewBag.Title = "ProductTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>نام</th>
            <th>تاریخ ثبت</th>
            <th>امتیاز</th>
            <th>قیمت</th>
            <th>توضیحات</th>
            <th>دسته بندی</th>
            <th>تعداد</th>
            <th>پیشنهادی</th>
            <th>تخفیف</th>
            <th>وضعیت</th>
            <th>کلمات کلیدی</th>
            <th>عکس ها</th>
            <th>مشخصات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(Model.ToList().IndexOf(item)+1)</td>
                <td>@item.TblCatagory.Name</td>
                <td>@item.DateSubmited</td>
                <td>@item.Raiting</td>
                <td>@item.Price</td>
                <td>
                    <a href="#Modal-Description" uk-toggle>توضیحات</a>
                    <div id="Modal-Description" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3>
                                توضیحات کالا
                            </h3>
                            <p>
                                @item.Description
                            </p>
                            <button class="uk-modal-close">
                                بستن
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="/Admin/Product/ProductTable/@item.CatagoryId">@item.TblCatagory.Name</a>
                </td>
                <td>@item.Count</td>
                <td>
                    <input type="checkbox" class="uk-checkbox" onclick="return false;" readonly />
                </td>
                <td>@item.Discount%</td>
                <td>@item.Status</td>
                <td>
                    <a href="" uk-icon="hashtag"></a>
                </td>

                <td uk-lightbox>
                    <a href="~/Resources/Product/@item.TblProductImageRel.SingleOrDefault().TblImage.Image">
                        <img src="~/Resources/Product/@item.TblProductImageRel.SingleOrDefault().TblImage.Image" />
                    </a>
                </td>
                <td>
                    <a href="" uk-icon="thumbnails"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- #endregion -->
