@model DataLayer.Models.Regular.TblVideo


@{
    ViewBag.Title = "ویرایش ویدیو";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Card -->

<form action="/Admin/Video/VideoEdit" method="post" enctype="multipart/form-data" class="mat uk-margin-large-top uk-padding-small column clipped">
    <input type="hidden" name="id" value="@Model.id" />
    <input type="hidden" name="DateSubmited" value="@Model.DateSubmited" />
    <input type="hidden" name="MainImage" value="@Model.MainImage" />
    <input type="hidden" name="VideoUrl" value="@Model.VideoUrl" />
    <input type="hidden" name="VidioDemoUrl" value="@Model.VidioDemoUrl" />
    <h4 class="uk-margin-remove-bottom">
        ویدیو جدید
    </h4>
    <label for="Title" class="uk-margin-small-bottom uk-margin-top">
        تیتر ویدیو
    </label>
    <input type="text" id="Title" name="Title" value="@Model.Title" class="uk-input uk-width-2-3 @("uk-width-1-3@m")  uk-margin-auto-left" required />
   
    <label for="Keywords" class="uk-margin-small-bottom uk-margin-top">
        کلمات کلیدی
    </label>
    <input type="text" value="ViewBag.Tags" id="Keywords" name="Keywords" class="uk-input uk-width-2-3 @("uk-width-1-3@m")  uk-margin-auto-left" required placeholder="کلمات کلیدی را با ، جدا کنید" />
    <label for="Description" class="uk-margin-small-bottom uk-margin-top">
        توضیحات
    </label>
    <textarea id="Description" name="Description" required>@Model.Description</textarea>


    <!-- #region Upload Video -->
    <label class="uk-margin-small-bottom uk-margin-top">
        ویدیو
    </label>
    <video class="video-playback" controls controlsList="nodownload">
        <source src="~/Resources/Videos/@Model.VideoUrl" type="video/mp4">
    </video>
    <div class=" uk-placeholder uk-margin-remove-top uk-text-center" dir="rtl">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle"> ویدیوی خود را اینجا بیاندازید و یا</span>
        <div uk-form-custom>
            <input type="file" name="VideoUrl" multiple>
            <span class="uk-link">انتخاب کتید</span>
        </div>
    </div>

    <!-- #endregion -->
    <!-- #region Upload Image -->
    <label class="uk-margin-small-bottom uk-margin-top">
        عکس
    </label>
    <img class="thumbnail" style="width:200px;" src="~/Resources/Videos/Image/Thumb/@Model.MainImage" />
    <div class="uk-placeholder uk-margin-remove-top uk-text-center" dir="rtl">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle"> عکس خود را اینجا بیاندازید و یا</span>
        <div uk-form-custom>
            <input type="file" name="MainImage" multiple>
            <span class="uk-link">انتخاب کتید</span>
        </div>
    </div>

    <!-- #endregion -->

    <div class="row uk-margin-auto-left">
        <label for="IsOnline" class="uk-margin-small-right">آنلاین می باشد</label>
        <input type="checkbox" id="IsOnline" value="true" name="IsOnline" class="uk-checkbox uk-margin-auto-top uk-margin-auto-bottom" @((Model.IsOnline) ? "checked" : "") />
    </div>

    <div class="row uk-margin-auto-left uk-margin-small-top">
        <label for="IsHome" class="uk-margin-small-right">در صفحه اصلی قرار دارد</label>
        <input type="checkbox" id="IsHome" name="IsHome" value="true" class="uk-checkbox  uk-margin-auto-top uk-margin-auto-bottom" @((Model.IsHome) ? "checked" : "") />
    </div>

    <h5 class="uk-margin-remove-bottom">
        بخش دمو
    </h5>
    <hr />

    <!-- #region Upload Video -->
    <label class="uk-margin-small-bottom uk-margin-top">
        ویدیوئ دمو
    </label>
    <video class="video-playback" controls controlsList="nodownload">
        <source src="~/Resources/Videos/@Model.VidioDemoUrl" type="video/mp4">
    </video>
    <div class=" uk-placeholder uk-margin-remove-top uk-text-center" dir="rtl">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle"> ویدیوی خود را اینجا بیاندازید و یا</span>
        <div uk-form-custom>
            <input type="file" name="VidioDemoUrl" multiple>
            <span class="uk-link">انتخاب کتید</span>
        </div>
    </div>
    <!-- #endregion -->

    <label for="Description" class="uk-margin-small-bottom uk-margin-top">
        توضیحات دمو
    </label>
    <textarea id="Description" name="DescriptionDemo" required>@Model.DescriptionDemo</textarea>

    <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
    <button type="submit" class="see uk-margin-medium-top uk-margin-auto-left">ذخیره</button>
</form>

<!-- #endregion -->

<script>
        var bar = document.getElementById('js-progressbar');

        UIkit.upload('.js-upload', {

            //------------------------------------------------------ {{ U R L }}
            url: '',
            multiple: false,

            beforeSend: function () {
                console.log('beforeSend', arguments);
                alert('قبل از شروع آپلود');
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
            },

            loadStart: function (e) {
                console.log('loadStart', arguments);

                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },

            progress: function (e) {
                console.log('progress', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            loadEnd: function (e) {
                console.log('loadEnd', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            completeAll: function () {
                console.log('completeAll', arguments);

                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);

                alert('آپلود شد');
            }

        });
</script>
