@model IEnumerable<DataLayer.Models.Regular.TblClient>
@{
    ViewBag.Title = "UserTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>نام</th>
            <th>کد ملی</th>
            <th>شماره تلفن</th>
            <th>ایمیل</th>
            <th>آدرس</th>
            <th>کد پستی</th>
            <th>پریمیوم</th>
            <th>کد دعوت</th>
            <th>نام کاربری</th>
            <th>فعال</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="User_@item.id">
                <td>@(Model.ToList().IndexOf(item)+1)</td>
                <td>@item.Name</td>
                <td>@item.IdentificationNo</td>
                <td>@item.TellNo</td>
                <td>@item.Email</td>
                <td>
                    <a href="#Modal-Address" uk-toggle>آدرس</a>
                    <div id="Modal-Address" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3>
                                آدرس
                            </h3>
                            <p>
                                @item.Address
                            </p>

                            <button class="uk-modal-close">
                                بستن
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                    @item.PostalCode
                </td>
                <td>
                    <input type="checkbox" class="uk-checkbox" @((item.IsPremium) ? "checked" : "") onclick="return false;" readonly />
                </td>
                <td>@item.InviteCode</td>
                <td>@item.TblUserPass.Username</td>
                <td>
                    <input type="checkbox" class="uk-checkbox" @((item.TblUserPass.IsActive) ? "checked" : "") onclick="return false;" readonly />
                </td>
                <td>
                    <a href="#" onclick="deleteUser(@item.id)" uk-icon="icon:trash; ratio:1"></a>
                </td>
                <td>
                    <a href="/Admin/User/UserEdit/@item.id" uk-icon="icon:file-edit; ratio:1"></a>
                </td>
            </tr>
        }

    </tbody>
</table>


<!-- #endregion -->
<script>
    function deleteUser(id) {
        if (confirm("آیا از حذف ویدیو مطمئن هستید؟")) {
            $.ajax({
                url: "/Admin/User/DeleteUser/" + id,
                type: "Get"
            }).done(function () {
                $("#User_" + id).addClass("uk-text-danger");
                $("#User_" + id).hide('slow');
            });
        };
    };
</script>