@model IEnumerable<DataLayer.Models.Regular.TblComment>
@{
    ViewBag.Title = "BlogComments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>نام کاربر</th>
            <th>متن</th>
            <th>تاریخ</th>
            <th>تایید شده</th>
        </tr>
    </thead>
    <tbody>
        <!-- #region Foreach -->
        @foreach (var item in Model)
        {

            <tr>
                <td>@(Model.ToList().IndexOf(item) + 1)</td>
                <td>
                    <a href="#" onclick="viewClientInfo(@item.id);">
                        @item.TblClient.Name
                    </a>
                </td>
                <td>
                    @item.Body
                </td>
                <td>
                    @item.DateSubmited

                </td>
                <td>
                    <input type="checkbox" class="uk-checkbox" onchange="" @((item.IsValid) ? "checked" : "") />
                </td>
            </tr>
        }

        <!-- #endregion -->
    </tbody>
</table>

<!-- #region name -->
<!-- This is a button toggling the modal -->
@*<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Open</button>*@


<!-- This is an anchor toggling the modal -->
@*<a href="#modal-example" uk-toggle>Open</a>*@

<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">


        @*<h2 class="uk-modal-title">Headline</h2>*@
        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </p>*@
    </div>
</div>

<!-- #endregion -->
<!-- #endregion -->


<script>
    function viewClientInfo(id) {
        $.get("/Admin/Blog/ViewClientInfo/" + id, function (result) {
            UIkit.modal(document.getElementById('modal-example')).show();
            $(".uk-modal-body").html(result);
        });
    };

</script>
