@model IEnumerable<DataLayer.Models.Regular.TblBlog>
@{
    ViewBag.Title = "BlogTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>تیتر</th>
            <th>توضیحات</th>
            <th>عکس</th>
            <th>محتوا</th>
            <th>تعداد لایک</th>
            <th>کلمات کلیدی</th>
            <th>نظرات</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <!-- #region Foreach -->
        @foreach (var item in   Model)
        {

            <tr id="blog_@item.id">
                <td>@(Model.ToList().IndexOf(item) + 1)</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td uk-lightbox>
                    <a href="~/Resources/Blogs/@item.MainImage">
                        <img src="~/Resources/Blogs/@item.MainImage" />
                    </a>
                </td>
                <td>
                    ...
                </td>
                <td>@item.LikeCount</td>
                <td>
                    <a href="" uk-icon="hashtag"></a>
                </td>
                <td>
                    <a href="/Admin/Blog/BlogComments/@item.id"  uk-icon="comments" ></a>
                </td>
                <td>
                    <a href="#" onclick="deleteBlog(@item.id)" uk-icon="icon:trash; ratio:1"></a>
                </td>
                <td>
                    <a href="/Admin/Blog/BlogEdit/@item.id" uk-icon="icon:file-edit; ratio:1"></a>
                </td>
            </tr>
        }
        <!-- #endregion -->

    </tbody>
</table>

<!-- #endregion -->
<script>
    function deleteBlog(id) {

        if (confirm("آیا از حذف ویدیو مطمئن هستید؟")) {
            $.ajax({
                url: "/Admin/Blog/DeleteBlog/" + id,
                type: "Get"
            }).done(function () {
                $("#blog_" + id).addClass("uk-text-danger");
                $("#blog_" + id).hide('slow');
            });

        };
    };
</script>