@model IEnumerable<DataLayer.Models.Regular.TblComment>
@{
    ViewBag.Title = "پیام های مقاله";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>نام کاربر</th>
            <th>متن</th>
            <th>تاریخ</th>
            <th>تایید شده</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- #region Foreach -->
        @foreach (var item in Model)
        {
            <tr id="comment_@item.id">
                <td>@(Model.ToList().IndexOf(item) + 1)</td>
                <td>
                    <a href="#" onclick="viewClientInfo(@item.TblClient.id);">
                        @item.TblClient.Name
                    </a>
                </td>
                <td>
                    <a href="#Modal-Body@(item.id)" uk-toggle>متن </a>
                    <div id="Modal-Body@(item.id)" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3>
                                متن
                            </h3>
                            <p>
                                @item.Body
                            </p>
                            <button class="uk-modal-close">
                                بستن
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                    @Convert.ToDateTime(item.DateSubmited).ToShamsi()
                </td>
                <td>
                    <input type="checkbox" class="uk-checkbox" onchange="" @((item.IsValid) ? "checked" : "") />
                </td>
                @if (item.IsValid)
                {
                    <td>
                        <a href="/Admin/Blog/ShowHideComments?id=@item.id&blogId=@item.TblBlogCommentRel.Single().BlogId">مخفی</a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="/Admin/Blog/ShowHideComments?id=@item.id&blogId=@item.TblBlogCommentRel.Single().BlogId">نمایش</a>
                    </td>
                }

                <td>
                    <a href="#" onclick="deleteComment(@item.id)" uk-icon="icon:trash; ratio:1"></a>
                </td>
            </tr>
        }

        <!-- #endregion -->
    </tbody>
</table>

<!-- #region name -->
<!-- This is a button toggling the modal -->
@*<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Open</button>*@


<!-- This is an anchor toggling the modal -->
@*<a href="#modal-example" uk-toggle>Open</a>*@

<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="ClientInfo">

    </div>
</div>

<!-- #endregion -->
<!-- #endregion -->

<script>
    function viewClientInfo(id) {
        $.get("/Admin/Blog/ViewClientInfo/" + id, function (result) {
            UIkit.modal(document.getElementById('modal-example')).show();
            $("#ClientInfo").html(result);
        });
    };


    function deleteComment(id) {

        if (confirm("آیا از حذف ویدیو مطمئن هستید؟")) {
            $.ajax({
                url: "/Admin/Blog/DeleteComment/" + id,
                type: "Get"
            }).done(function () {
                $("#comment_" + id).addClass("uk-text-danger");
                $("#comment_" + id).hide('slow');
            });

        };
    };

</script>
