
@{
    ViewBag.Title = "CategoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Category.min.css" rel="stylesheet" />

<div class="parallax uk-flex" style="background: url(https://picsum.photos/1366/600);"
     uk-parallax="bgy: +400">
    <h1 class="uk-light">
        این یک دسته بندی می باشد
    </h1>
</div>

<section class="videos">
    <div class="space"></div>

    <content class="grid uk-margin-large-bottom uk-padding-remove" dir="rtl">

        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")

    </content>
    <div class="space"></div>
</section>

