
@{
    ViewBag.Title = "NFix";
}

<!--  -->
<!-- #region Hero -->

@Html.Action("Hero", "Home")

<!-- #endregion -->

<a name="videos"></a>

<!-- #region Stripe -->
<section class="stripe row">
    <a href="">
        <img src="~/Resources/Svg/Admin/admin_orders.svg" alt="" />
    </a>
    <a href="">
        <img src="~/Resources/Svg/Admin/admin_product_add.svg" alt="" />
    </a>
    <a href="https://arvintavco.com" uk-tooltip="ایده پرداز آروین تاو">
        <img src="~/Resources/Svg/ArvinTavWhite.svg" alt="" />
    </a>
    <a href="">
        <img src="~/Resources/Svg/Admin/admin_video_nor.svg" alt="" />
    </a>
</section>

<!-- #endregion -->
<!--#region Sticky icons-->
<div id="stickies" class="column" uk-sticky="offset:250;">
    <img class="animated-bubble" src="../Resources/Svg/AnimatedBubble.svg" />
    <a href="#" class="stickIcon" uk-tooltip="title: پروفایل; pos:left"><img src="../Resources/Svg/asdfwe01.svg" /></a>
    <a href="#" class="stickIcon" uk-tooltip="title: اشتراک; pos:left"><img src="../Resources/Svg/asdfwe04.svg" /></a>
    <a href="#" class="stickIcon" uk-tooltip="title: فیس بوک; pos:left"><img src="../Resources/Svg/asdfwe03.svg" /></a>
    <a href="#" class="stickIcon" uk-tooltip="title: اینستاگرام; pos:left"><img src="../Resources/Svg/Unio2n.svg" /></a>
</div>
<!--#endregion-->
<!-- #region Videos -->
<!-- #Dynamic Videos -->



@Html.Action("VideosPage", "HomeVideo")


<!-- #endregion -->


<img class="full-width" src="~/Resources/Svg/Biscuits/Poly_1.svg" />

<!-- #region Categories -->
<!-- #Dynamic Categories -->
@Html.Action("CategoriesPage", "HomeCategories")

<!-- #endregion -->


<section class="category-article full-width row card uk-margin-top uk-padding-remove">
    <img src="https://picsum.photos/500/400" class="uk-child-width-1-4" alt="" />
    <article class="uk-width-1-1">
        <h3>لورم ایپسوم متن</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        <br />
    </article>
</section>

<div class="space"></div>

<!-- #region Banner -->

<section class="banner row">
    <content class="column uk-padding">
        <h3 class="uk-margin-remove">درباره فیتنس</h3>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها
        </p>
        <button onclick="window.location='/Home/About'" dir="rtl" class="uk-margin-auto-right">بیشتر...</button>
    </content>
    <img src="../Resources/Png/BodyBuilding.png" class="" alt="" />
</section>

<!-- #endregion -->

<h3 class="clipped uk-margin-medium-top text-center">مربیان</h3>

<!-- #region  Tutors -->
<!-- #Dynamic Tutors -->
@Html.Action("TutorsPage", "HomeTutors")


<!-- #endregion -->

<h3 class="clipped uk-margin-medium-top uk-margin-remove-bottom text-center">محصولات</h3>

<!-- #region Products -->
<!-- #Dynamic Products -->

@Html.Action("ProductsPage", "HomeProducts")
<!-- #endregion -->

<div class="space-half"></div>

<div class="calculator full-width row">
    <div class="column card center">
        <h5>
            محاسبه شاخص توده بدنی
        </h5>
        <!--<label>سن</label>
        <input id="txtAge" type="text" value="" />-->
        <label>قد</label>
        <input id="txtHeight" type="text" value="" placeholder="cm" />
        <label>وزن</label>
        <input id="txtWeight" type="text" value="" placeholder="kg" />
        <div class="row">
            <a href="#BMIModal" class="uk-margin-auto-top" uk-toggle>
                <span>شاخص توده بدنی</span>
            </a>
            <!-- This is the modal -->
            <div id="BMIModal" uk-modal>
                <div class="card">
                    <h2 class=" uk-modal-title">جدول شاخص توده بدنی</h2>
                    <div class="row">
                        <img src="../Resources/Svg/Formula.svg" class="uk-margin-auto" />
                        <ul class="uk-list uk-margin-auto-left" dir="rtl">
                            <li>- کمتراز 15 معادل کمبود وزن بسیار شدید</li>
                            <li>- کمتراز 16 و بیشتراز 15 معادل کمبود وزن شدید</li>
                            <li>- درمحدوده 16 تا 18.5 بمعنی کمبود وزن</li>
                            <li>- بین 18.5 و 25 بمعنی وزن طبیعی و نرمال</li>
                            <li>- بیشتراز 25 و کمتراز 30 شخص دارای اضافه وزن</li>
                            <li>- درمحدوده 30 و 35 نشانگر چاقی معمولی (چاقی نوع اول)</li>
                            <li>- بین 35 و 40 نشان دهنده چاقی شدید (چاقی نوع دوم)</li>
                            <li>- بیشتر از 40 شخص دارای چاقی بسیار شدید (چاقی نوع سوم)</li>
                        </ul>
                    </div>
                    <button type="button" onclick="UIkit.modal(document.getElementById('BMIModal')).hide();">
                        باشه
                    </button>
                </div>
            </div>
            <button class="uk-margin-auto-left uk-margin-top" onclick="Calculate('bmi')">
                <span uk-icon="right"></span>
                <span>نتیجه</span>
            </button>
        </div>

        <hr />

        <div class="row" dir="rtl">
            <span>شاخص توده بدنی شما:</span>
            <span id="bmi" class="uk-margin-small-right"></span>
        </div>
    </div>
</div>

<div class="space-double"></div>

<!-- #region Banner -->

<a href="#" class="image-banner column">
    <div class="column">
        <h2>
            HELLo
        </h2>
        <h4>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
        </h4>
    </div>
    <div class="cover"></div>
    <img src="~/Resources/Png/Man.png" alt="" />

</a>


<!-- #endregion -->

<div class="space"></div>

<h3 class="clipped uk-margin-medium-top text-center">وبلاگ ها  </h3>

<!-- #region Blogs -->
<!-- #Dynamic Blogs -->

@Html.Action("BlogsPage", "HomeBlogs")

<!-- #endregion -->

<div class="space"></div>




<div id="ModalProduct" uk-modal>

</div>


@section Scripts{


    <script src="~/Scripts/OwlCarousel/owl.carousel.min.js"></script>
    <script>
        function ModalProduct(id) {
            $.get("/HomeProducts/ModalProduct/" + id, function (result) {
                UIkit.modal(document.getElementById('ModalProduct')).show();
                $("#ModalProduct").html(result);
            });
        }
    </script>

    <script>

        let duration = 1400;
        window.sr = ScrollReveal();
        sr.reveal('.man', {
            duration: duration,
            origin: 'bottom',
            distance: '72px',
            opacity: 1,
        });
        sr.reveal('#stickies', {
            duration: duration,
            origin: 'right',
            distance: '72px',
            opacity: 1,
        });

        $('#product').owlCarousel({
            loop: true,
            margin: 20,
            autoplay: false,
            autoplayTimeout: 3500,
            autoplayHoverPause: true,
            nav: true,
            responsive: {
                1: {
                    items: 1
                },
                800: {
                    items: 2
                },
                1200: {
                    items: 3
                },
                1600: {
                    items: 3
                },
                1700: {
                    items: 4
                }
            }
        })

        $('#blogs').owlCarousel({
            loop: true,
            margin: 20,
            autoplay: false,
            autoplayTimeout: 3500,
            autoplayHoverPause: true,
            nav: true,
            responsive: {
                1: {
                    items: 1
                },
                750: {
                    items: 2
                },
                1100: {
                    items: 3
                },
                1600: {
                    items: 3
                },
                1900: {
                    items: 4
                }
            }
        });

        $('#tutors').owlCarousel({
            loop: true,
            margin: 0,
            autoplay: true,
            autoplayTimeout: 3500,
            autoplayHoverPause: true,
            nav: true,
            responsive: {
                1: {
                    items: 1
                },
                600: {
                    items: 2
                },
                950: {
                    items: 3
                },
                1200: {
                    items: 4
                },
                1500: {
                    items: 5
                }
            }
        })

    </script>

}
