@{
    ViewBag.Title = "TutorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="~/Styles/Video.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

<div class="tutor column center uk-margin-auto">
    <img class="uk-margin-auto uk-border-circle" src="https://picsum.photos/128" />
    <h4 class="uk-margin-auto uk-margin-small-top uk-margin-remove-bottom">نام و نام خانوادگی مربی</h4>
    <h6 class="uk-margin-auto uk-margin-small-top">تخصص ورزشی</h6>
</div>

<section class="videos uk-margin-medium-top column">
    <h3 class="clipped uk-margin-top uk-margin-small-bottom center">ویدیوهای <span class="simple">اخیر</span></h3>
    <content class="grid uk-margin-medium-bottom" dir="rtl">
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
        @Html.Partial("_VideoBlock")
    </content>
</section>