<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Project Css -->
    <link href="~/Styles/Controls.min.css" rel="stylesheet" />
    <link href="/Styles/Admin.min.css" rel="stylesheet" />

    <!-- UIkit CSS -->
    <link href="/Styles/UIKit/uikit.min.css" rel="stylesheet" />

    <!--Owl Carousel CSS-->
    <link href="/Styles/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Styles/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />

    <!--Loading  CSS-->
    <link href="~/Styles/Loading/Loading.css" rel="stylesheet" />
    <!--Jquery-->
    <script src="/Scripts/Jquery/jquery-3.5.1.js"></script>

    <!-- UIkit JS -->
    <script src="/Scripts/UIKit/uikit.min.js"></script>
    <script src="/Scripts/UIKit/uikit-icons.js"></script>

    <!--Owl Carousel Scripts-->
    <script src="/Scripts/OwlCarousel/owl.carousel.min.js"></script>

    <!--Scroll Reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--Loading  js-->
    <script src="~/Scripts/Loading/Loading.js"></script>
</head>
<body>
    <!--#region Menu-->
    <a class="hamburger-button uk-margin-auto" href="#menu" uk-icon="icon: menu ; ratio:1" uk-toggle="target: #menu"></a>
    <div id="menu" uk-offcanvas="overlay: true; flip: true" dir="rtl">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <content class="menuComponent column" dir="rtl">
                <ul uk-accordion dir="rtl">
                    <li>
                        <a href="#" class="plus uk-accordion-title">
                            <img src="~/Resources/Svg/Admin/admin_video_nor.svg" />
                            <span>ویدیو ها</span>
                        </a>
                        <div class="uk-accordion-content">
                            <ul class="column">
                                <li>
                                    <a href="/Admin/Video/VideoTable">
                                        <img src="~/Resources/Svg/Admin/admin_video_nor.svg" />
                                        <span>ویدیوها</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </content>
            <content class="menuComponent column" dir="rtl">
                <ul uk-accordion dir="rtl">
                    <li>
                        <a href="#" class="plus uk-accordion-title">
                            <img src="~/Resources/Svg/Admin/admin_blog_nor.svg" />
                            <span>مقاله ها</span>
                        </a>
                        <div class="uk-accordion-content">
                            <ul class="column">
                                <li>
                                    <a href="/Admin//Blog/BlogTable">
                                        <img src="~/Resources/Svg/Admin/admin_blog_nor.svg" />
                                        <span>مقاله ها</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin//Blog/BlogAdder">
                                        <img src="~/Resources/Svg/Admin/admin_blog_add.svg" />
                                        <span>اضافه کردن مقاله جدید</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin//Blog/BlogComments">
                                        <img src="~/Resources/Svg/Admin/admin_comment_nor.svg" />
                                        <span>نظرات کاربران</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </content>
            <content class="menuComponent column" dir="rtl">
                <ul uk-accordion dir="rtl">
                    <li>
                        <a href="#" class="plus uk-accordion-title">
                            <img src="~/Resources/Svg/Admin/admin_tutor_nor.svg" />
                            <span>مربیان</span>
                        </a>
                        <div class="uk-accordion-content">
                            <ul class="column">
                                <li>
                                    <a href="/Admin/Tutor/TutorTable">
                                        <img src="~/Resources/Svg/Admin/admin_tutor_nor.svg" />
                                        <span>مربیان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin/Tutor/TutorAdder">
                                        <img src="~/Resources/Svg/Admin/admin_tutor_add.svg" />
                                        <span>مربی جدید</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </content>
            <content class="menuComponent column" dir="rtl">
                <ul uk-accordion dir="rtl">
                    <li>
                        <a href="#" class="plus uk-accordion-title">
                            <img src="~/Resources/Svg/Admin/admin_products.svg" />
                            <span>کالا ها</span>
                        </a>
                        <div class="uk-accordion-content">
                            <ul class="column">
                                <li>
                                    <a href="/Admin/Product/ProductTable">
                                        <img src="~/Resources/Svg/Admin/admin_products.svg" />
                                        <span>کالا ها</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin/ProductCatagory/Index">
                                        <img src="~/Resources/Svg/Admin/admin_product_add.svg" />
                                        <span>دسته ها </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin/Product/ProductAdder">
                                        <img src="~/Resources/Svg/Admin/admin_product_add.svg" />
                                        <span>کالا جدید</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin/Product/OrderTable">
                                        <img src="~/Resources/Svg/Admin/admin_orders.svg" />
                                        <span>سفارش ها</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </content>
            <content class="menuComponent column" dir="rtl">
                <ul uk-accordion dir="rtl">
                    <li>
                        <a href="#" class="plus uk-accordion-title">
                            <img src="~/Resources/Svg/Admin/admin_user_nor.svg" />
                            <span>کاربران</span>
                        </a>
                        <div class="uk-accordion-content">
                            <ul class="column">
                                <li>
                                    <a href="/Admin/User/UserTable">
                                        <img src="~/Resources/Svg/Admin/admin_user_nor.svg" />
                                        <span>کاربران</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Admin/User/UserAdder">
                                        <img src="~/Resources/Svg/Admin/admin_user_add.svg" />
                                        <span>کاربر جدید</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </content>

        </div>
    </div>

    <!-- #Loadin -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <!--#endregion-->

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>